@charset "utf-8";
div.base {
  counter-reset: chapter; /* hack Gecko > Set chapter to 0 */
}
div.base > div.section h2 {
  counter-reset: section; /* hack Gecko > Set section to 0 */
}

* html h2 {
  clear: both;
  margin: 20px 0 10px 0; padding: 0 10px;
  border-bottom: 5px double #666;
  font-size: 150%;
  font-weight: bold;
}
* html h3 {
  margin: 10px 0 10px 0; padding: 10px 10px;
  border-top: 2px dotted #666;
  border-bottom: 2px dotted #666;
  font-size: 120%;
  font-weight: bold;
}
* html h4 {
  margin: 0 0 0.5em 0; padding: 0.5em 0.5em;
  border-left: 5px solid #666;
  border-right: 5px solid #666;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #000;
  background-color: #eee;
  font-weight: bold;
}
* html h5 {
  margin: 0 0 0.5em 0; padding: 0.5em 0.5em;
  border: 1px solid #ddd;
  color: #000;
  background-color: #eee;
  font-weight: bold;
}
* html h6 {
  margin: 0 0 0.5em 0; padding: 0.5em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid #666;
  font-weight: bold;
}
